@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family:'Poppins','Roboto Slab', sans-serif;;
}

body{
  background-image: url('../public/bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.container{
  max-width: 1264px;
}


@media (max-width: 1024px){
.header{
  padding: 16px;
  position: static;
  background: rgba(223, 234, 229, 0.949);
}
@media (max-width:1023px)    {
  .mobile_view{
    background: white;
    width: 100%;
    position: absolute;
  }
  .mobile_view > div {
    border-radius: 20px;
    padding: 1.5rem;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 2rem;
}
.view_menu{
  display: none;
}
}

}
.images{
  animation: eating-path 6s;
}
@keyframes eating-path {
  0% {
      transform: translateX(5%);
  }
  100% {
      transform: translateX(-5%);
  }
}

